.about-us {
    display: flex;
    height: 450px;

    &__item {
        width: 50%;
    }

    &__img {
        width: 100%;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 80px;
    }

    &__text {
        width: 100%;
        max-width: 418px;
    }

    &__title {
        margin-bottom: 9px;
    }

    &__subtitle {
        margin-bottom: 16px;
    }

    &__description {
        margin-bottom: 28px;

        > sup {
            font-size: 58%;
        }
    }
}