.actions-menu {
    @extend %flex-align-center;

    &__list {
        display: flex;

        @include breakpoint($breakpoint-lg) {
            display: none;
        }
    }

    &__link {
        margin-right: 32px;

        font-size: 14px;
        line-height: 1.58;
        color: $content-color-accent;

        transition: opacity .1s ease;

        @extend %link-hover-active;

        &--feedback {
            padding-left: 23px;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 17px;
                height: 20px;
                margin-top: -1px;

                background-image: url('../images/letter-icon.svg');
                @extend %background-options;

                position: absolute;
                top: 0;
                left: 0;

                @extend %link-hover-active;
            }
        }
    }

    &__search {
        @extend %link-hover-active;
        position: relative;

        @include breakpoint($breakpoint-lg) {
            margin-right: 20px;
        }

        &.active {
            .actions-menu__search-line {
                display: block;
            }
        }
    }

    &__search-line {
        display: none;
        width: 20px;
        height: 2px;

        background: $content-color-second;

        position: absolute;
        top: 50%;
        left: 0;

        transform: translate(-50%);

        &:nth-child(2),
        &:nth-child(3) {
            transform-origin: center;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}