.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0;

    font-family: inherit;
    font-size: 15px;
    line-height: 1.48;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    background-color: transparent;
    border: 0;
    cursor: pointer;

    transition: background-size .5s, color .5s;

    &--standard {
        padding-top: 11px;
        padding-bottom: 11px;

        border: 1px solid $content-color-accent;
        border-radius: 2px;
    }

    &--primary {
        padding-left: 58px;
        padding-right: 58px;

        background-color: #F7F7F8;
        background-image: linear-gradient($content-color-accent, $content-color-accent);

        color: $content-color-accent;

        &:hover {
            color: $primary-color;

            background-color: #F7F7F8;
            background-size: 100% 100%;
        }

        &:active {
            color: $primary-color;
            background-color: $content-color-accent;
        }

        @include breakpoint($breakpoint-xs) {
            padding-left: 38px;
            padding-right: 38px;
        }
    }

    &--second {
        padding-left: 31px;
        padding-right: 31px;

        color: $primary-color;

        background-color: $content-color-accent;
        background-image: linear-gradient(#F7F7F8, #F7F7F8);

        &:hover {
            color: $secondary-color;

            background-color: $content-color-accent;
        }

        &:active {
            color: $secondary-color;

            background-color: #F7F7F8;
        }
    }


    &--primary,
    &--second {
        background-repeat: no-repeat;
        background-position: 0% 50%;
        background-size: 0% 100%;

        &:hover {
            background-size: 100% 100%;
        }
    }


    &--link {
        padding-right: 16px;
        padding-bottom: 2px;

        color: $content-color-second;

        position: relative;

        &:before {
            content: '';
            width: 0;
            height: 1px;

            background-color: $content-color-second;

            position: absolute;
            bottom: 0;
            left: 0;

            transition: width .2s linear;
        }

        &:after {
            content: '';
            width: 10px;
            height: 6px;

            background-image: url('../images/arrow-icon.svg');
            @extend %background-options;

            position: absolute;
            top: 9px;
            right: 0;
            z-index: 1;

            transform: rotate(-90deg);
        }

        &:hover:before,
        &:active:before {
            width: 100%;
        }

        @extend %link-hover-active;
    }
}
