.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 11px 58px;

    font-family: inherit;
    font-size: 15px;
    line-height: 1.48;
    color: $content-color-accent;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    background-color: transparent;
    border: 1px solid $content-color-accent;
    border-radius: 2px;
    cursor: pointer;
}