.burger {
    display: none;
    padding: 2px 1px 2px 5px;

    background: none;
    border: 0;
    cursor: pointer;

    position: relative;

    font-size: 0;
    color: transparent;

    @include breakpoint($breakpoint-lg) {
        display: block;
    }

    @include breakpoint($breakpoint-xs) {
        padding-left: 1px;
    }

    &__item {
        display: block;
        width: 22px;
        height: 2px;
        margin-right: 1px;

        background-color: $content-color-second;
        border-radius: 1px;

        transition: transform .2s ease-out;

        &:nth-child(2) {
            margin: 5px 0;
        }

        @include breakpoint($breakpoint-xs) {
            width: 18px;
        }
    }
}