.download-catalog {
    height: 510px;

    background-image: url('../images/no-webp/download-catalog-bg.jpg');
    @extend %background-options;

    @include breakpoint($breakpoint-xs) {
        height: 555px;

        background-image: url('../images/no-webp/download-catalog-bg-mobile.jpg');
    }

    &__inner {
        position: relative;
    }

    &__content {
        width: 472px;
        padding: 40px;

        background: #F2F6FB;
        border-radius: 2px;

        position: absolute;
        top: 160px;
        left: 0;

        @include breakpoint($breakpoint-sm-additional) {
            width: 100%;
            padding: 24px 16px;
        }
    }

    &__description {
        margin-bottom: 40px;
    }

    &__btn {
        @include breakpoint($breakpoint-xs) {
            width: 100%;
        }
    }
}