.download-catalog {
    height: 510px;

    background-image: url('../images/download-catalog-bg.jpg');
    @extend %background-options;

    &__inner {
        position: relative;
    }

    &__content {
        width: 472px;
        padding: 40px;

        background: #F2F6FB;
        border-radius: 2px;

        position: absolute;
        top: 161px;
        left: 0;
    }

    &__description {
        margin-bottom: 40px;
    }
}