.footer {
    padding: 72px 0 60px;

    color: #EAEAEA;

    @include breakpoint($breakpoint-lg) {
        padding-top: 32px;
        padding-bottom: 21px;
    }

    &__wrapper-menu {
        padding-bottom: 87px;

        border-bottom: 1px solid #174463;

        @include breakpoint($breakpoint-md) {
            padding-bottom: 45px;

            border: 0;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        height: 374px;

        @include breakpoint($breakpoint-lg) {
            align-content: space-between;
        }

        @include breakpoint($breakpoint-md) {
            height: auto;
        }
    }

    &__item {
        width: 136px;
        margin-left: auto;

        @include breakpoint($breakpoint-lg) {
            margin-left: 0;
        }

        @include breakpoint($breakpoint-md) {
            width: 100%;
        }

        &:first-of-type {
            width: auto;

            @include breakpoint($breakpoint-md) {
                width: 100%;
                order: -1;

                .footer__item-list {
                    display: none;
                }
            }
        }

        &:nth-of-type(2) {
            width: 200px;
            margin-left: auto;

            @include breakpoint($breakpoint-lg) {
                .footer__item-list {
                    display: none;
                }
            }

            @include breakpoint($breakpoint-md) {
                width: 100%;

                order: 0;
            }

            .footer__item-title {
                margin-bottom: 19px;
            }
        }

        &:nth-of-type(3) {
            @include breakpoint($breakpoint-md) {
                order: -1;
            }
        }
    }

    &__item-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        height: 282px;

        &--first {
            width: 538px;

            @include breakpoint($breakpoint-xl) {
                width: 450px;
            }
        }

        &:first-child {
            margin-bottom: 23px;
            padding-right: 16px;
        }

        &--footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 47px;
            height: auto;

            border-top: 1px solid #174463;

            > .footer__item-element {
                margin-bottom: 0;
            }
        }
    }

    &__item-title {
        display: block;
        margin-bottom: 24px;

        font-weight: 600;
        font-size: 18px;
        line-height: 1.52;
        color: $primary-color;

        transition: opacity .2s linear;
        @extend %link-hover-active;

        @include breakpoint($breakpoint-md) {
            margin-bottom: 11px;
            padding-bottom: 12px;

            font-size: 17px;

            position: relative;

            &:after {
                content: '';
                width: 100%;
                height: 1px;

                background-color: #174463;

                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &--first {
            font-size: 21px;
            line-height: 1.2;
        }

        &--first-mobile {
            display: none;

            @include breakpoint($breakpoint-md) {
                display: block;
            }
        }

        &--subnav {
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 17px;
                height: 17px;

                background-image: url('../images/footer-menu-arrow.svg');
                @extend %background-options;

                position: absolute;
                top: 5px;
                right: 0;
            }
        }
    }

    &__item-element {
        width: 200px;
        margin-bottom: 14px;

        font-size: 14px;
        line-height: 1.58;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    &__item-link {
        padding-right: 3px;
    }

    &__item-icon {
        width: 11px;
        height: 14px;

        fill: transparent;
        stroke: #EAEAEA;

        position: relative;
        top: 2px;
    }

    &__main {
        display: flex;
        flex-direction: column;
        padding-top: 88px;

        font-size: 12px;
        line-height: 1.58;

        @include breakpoint($breakpoint-xl) {
            flex-direction: column;
        }

        @include breakpoint($breakpoint-lg) {
            text-align: center;
        }

        @include breakpoint($breakpoint-xs) {
            padding: 0;
        }
    }

    &__line {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include breakpoint($breakpoint-xl) {
            &:last-child {
                > .footer__line-left > .footer__link-list {
                    flex-direction: column;
                }
            }
        }

        @include breakpoint($breakpoint-lg) {
            flex-direction: column;
        }
    }

    &__line-right {
        display: flex;
        width: 525px;

        @include breakpoint($breakpoint-lg) {
            width: 100%;
            flex-direction: column;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 29px;

        @include breakpoint($breakpoint-xs) {
            width: 181px;
            height: 29px;
            margin-bottom: 14px;
        }
    }

    &__copyright {
        margin-bottom: 24px;

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 16px;

            font-size: 11px;
        }
    }

    &__link-list {
        display: flex;

        @include breakpoint($breakpoint-lg) {
            margin-bottom: 25px;
            flex-direction: column;
        }
    }

    &__link-item {
        &:not(:last-child) {
            margin-right: 24px;

            @include breakpoint($breakpoint-xs) {
                margin-bottom: 13px;
                margin-right: 0;
            }
        }
    }

    &__link {
        &:hover,
        &:active {
            text-decoration: underline;
        }

        > span {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
        }
    }

    &__contacts {
        display: flex;
        margin-bottom: 22px;
    }

    &__contacts-phone {
        display: flex;
        flex-direction: column;
        margin-right: 64px;

        transition: opacity .1s ease;

        @extend %link-hover-active;

        @include breakpoint($breakpoint-lg) {
            margin: 0 auto 20px;
        }
    }

    &__contacts-phone-link {
        display: inline-block;
        margin-bottom: 1px;

        font-weight: 600;
        font-size: 21px;
        line-height: 1.2;

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 0;

            font-size: 20px;
        }
    }

    &__contacts-phone-paragraph {
        margin-left: 3px;
        font-size: 11px;

        @include breakpoint($breakpoint-xs) {
            text-align-last: left;
        }
    }

    &__address {
        margin-bottom: 25px;

        font-size: 12px;
        font-style: normal;

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 37px;

            font-size: 11px;
        }
    }

    &__info {
        font-size: 10px;
        color: #D0D0D0;
    }

    &__info-paragraph {
        &:first-child {
            margin-bottom: 9px;

            @include breakpoint($breakpoint-xs) {
                margin-bottom: 7px;
            }
        }

        br {
            display: none;
        }

        @include breakpoint($breakpoint-xs) {
            font-size: 10px;

            br {
                display: block;
            }
        }
    }
}