.header {
    position: relative;

    &__wrapper {
        @extend %flex-align-center-sb;
        height: 82px;

        @include breakpoint($breakpoint-xs) {
            padding-top: 3px;
            height: 48px;
        }
    }

    &__logo {
        @extend %flex-align-center;
        max-width: 520px;
        margin-right: 24px;

        transition: opacity .1s ease;

        @extend %link-hover-active;

        &.logo {
            width: auto;
        }

        > .header__logo-img {
            width: 200px;
            height: 32px;

            @include breakpoint($breakpoint-xs) {
                width: 129px;
                height: 20px;
            }
        }
    }

    &__logo-img {
        margin-right: 24px;
    }

    &__logo-text {
        font-size: 11px;
        line-height: 1.58;
        color: #8F9090;

        @include breakpoint($breakpoint-sm) {
            display: none;
        }
    }

    &__form {
        width: 100%;

        background-color: $primary-color;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;

        opacity: 0;
        pointer-events: none;

        transition: opacity .3s ease;

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;

        @include breakpoint($breakpoint-md) {
            padding: 40px;
        }

        @include breakpoint($breakpoint-xs) {
            padding: 30px;
        }
    }
}