.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 82px;
    }

    &__logo {
        display: flex;
        width: 100%;
        max-width: 520px;
        margin-right: 24px;
    }

    &__logo-img {
        margin-right: 24px;
    }

    &__logo-text {
        font-size: 11px;
        line-height: 1.58;
        color: #8F9090;
    }
}