.help {
    @extend %grid-columns;

    &__text {
        grid-column: 1 / span 3;
        margin-top: auto;
        margin-bottom: 21px;
    }

    &__title {
        margin-bottom: 8px;
    }

    &__subtitle {
        margin-bottom: 16px;
    }
}