.main-menu {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;

    &__header {
        margin-right: 118px;
    }

    &__title {
        margin-bottom: 24px;

        font-size: 29px;
        line-height: 1.16;
        font-weight: 600;
        color: $content-color-accent;
    }

    &__link-catalog {
        padding-right: 15px;

        color: $content-color-second;

        position: relative;

        &:after {
            content: '';
            width: 10px;
            height: 6px;

            background-image: url('../images/arrow-icon.svg');
            background-repeat: no-repeat;
            background-size: cover;

            position: absolute;
            top: 7px;
            right: 0;
            z-index: 1;

            transform: rotate(-90deg);
        }
    }

    &__nav {
        display: flex;
        margin-bottom: 1px;
    }

    &__list {
        width: 200px;
        margin-right: 40px;
        padding-left: 16px;

        border-left: 1px solid rgba(225, 225, 225, 1);
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__link {
        font-size: 17px;
        line-height: 1.58;
        color: $content-color-second;
    }
}