.news {
    padding-top: 64px;
    padding-bottom: 80px;

    &__header {
        @extend %flex-align-center-sb;
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__wrapper {
        @extend %grid-columns;
    }
}